<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Home PAge <%= "Hello Wolrd".toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae mollitia
      dignissimos vero natus tenetur, id doloribus provident assumenda? Facilis
      sapiente voluptate accusantium quibusdam tempore officiis, voluptatum
      harum. Nulla, nisi optio.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
      labore voluptatibus placeat maiores minima quisquam ratione enim quas,
      quaerat fugiat vitae dolorem porro incidunt natus hic officiis corrupti
      eius eligendi.
    </p>
  </body>
</html>
